body{
    padding: 0px;
    margin: 0px;
}

.logo2{
    height: 400px;
    width: 500px;
    border-radius: 0px 50px;
    margin-left: 100px;
}
.logo1{
    height: 200px;
    width: 200px;
    margin-left: -650px;
    margin-top: 80px;
}
.firstpage{
    
    height: 400px;
    background-image:url('../Images/consulting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.fourthpage{
    background-image: url('../Images/layer-3@3x.jpg');
    
    background-size:cover ;
    background-repeat:no-repeat ;
    width: auto;
    height: 60vh;
    
}
.aug1{
    margin-left: 300px;
}
/* .cardhover{
    height: 0px;
    width: 180px;
    transition: all 1s ease-in-out;
} */
.cardhover:hover{
    background-color: blue;
    color: white;
    height: 350px;
    width: 190px;
}

.dates{
    margin-top: 10px;
}
.datenumber{
    font-size: 25px;
}
.card-hover{
width: 180px;
height: 200px;
transition: all .5s ease;
}
.card-hover:hover{
color: aliceblue;
background-color: rgb(71, 167, 225);
box-shadow: 0 0 7px #333;
width: 190px;
height: 210px;
}
.industry-title{
font-size: 15px;
}

.industry-text{
font-size: 12px;
}




